* {
  margin: 0;
  box-sizing: border-box;
  color: white;
}

@font-face {
  font-family: 'impact.iff' ;
  src: url("./assets/fonts/impact.ttf");
}

.landingpage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: 0.5s;
  font-family: serif;
} 

.video-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
}

.bg-overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  z-index: 0;
}

.navbar {
  width: 100%;
  height:6em;
  border-bottom: 2px solid white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.menu {
  height: 3em;
  width: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 2em;
  cursor: pointer;
}

.menu div {
  width: 90%;
  height: 0.25em;
  background-color: white;
  border-radius: 1em;

}

.home-text {
  height: 60%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  font-family: "impact";
}

h1 {
  font-size: 6em;
  animation-name: fade;
  animation-duration: 4s;
}

p {
  justify-self: flex-end;
  font-size: 2em;
}

.home-btn {
  height: 2em;
  width: 6em;
  border: 2px solid white;
  border-radius: 0.25em;
  background-color: rgb(173, 172, 172);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2em;
  z-index: 1;
  align-items: center;
  cursor: pointer;
}

/* animation */
@keyframe fade {
  0% {
    opacity: 0;
    margin-left: 3em;
  }
  100% {
    opacity: 1;
  }
}
